.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 40px 1rem;
    max-width: 1200px;
    margin: 0 auto;
    .navbar-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 40%;
        text-decoration: none;
        .link{
            font-size: 1.2rem;
            font-weight: 500;
            padding: 0 1rem;
            transition: all 0.3s ease;
            text-decoration: none  ;
            &.active{
                text-decoration: underline;
            }
            
            li{
                color: black;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                width: 100%;
                &:hover{
                    color: #f1c40f;
                }
            }
        }
        
        
    }
}